{% extends "base.html" %}

{% block content %}
<div class="card text-center p-4 mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <p class="display-3"><i class="bi bi-check-circle-fill text-success"></i></p>
        <h2 class="card-title">Пароль успішно змінено</h2>
        <p class="card-text">Ваш пароль було успішно оновлено. Тепер ви можете використовувати новий пароль для входу.</p>

        <a href="{% url 'auth:profile' %}" class="btn btn-primary mt-3">Повернутися до профілю</a>
    </div>
</div>
{% endblock %}