.github-button {
    align-items: center;
    background-color: white;
    border: 1px solid #747775;
    border-radius: 7px;
    color: black;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 15px;
    height: 40px;
    letter-spacing: 0.25px;
    justify-content: center;
    display: inline-flex;
    outline: none; /* Прибирає синю рамку при наведенні */
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 425px;
}

.github-button,
.github-button:hover,
.github-button:active {
    text-decoration: none;
}

.github-button .github-button-icon {
    height: 20px;
    min-width: 20px;
    margin-right: 10px;
    width: 20px;
}

.github-button .github-button-content-wrapper {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse; /* Вирівнюється справа */
    flex-wrap: nowrap;
    width: auto;
    gap: 5px;
    height: 100%;
    position: relative;
}

.github-button .github-button-contents {
    flex-grow: 1;
    font-weight: 500;
    overflow: hidden;
    vertical-align: top;
}

.github-button .github-button-state {
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    position: absolute;
}


.github-button:active .github-button-state {
    background-color: #303030;
    opacity: 12%;
}

.github-button:hover .github-button-state {
    background-color: #303030;
    opacity: 8%
}