.gsi-material-button {
    -moz-user-select: none;
    /* webkit використовується для старих браузерів */
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 15px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none; /* Прибирає синю рамку при наведенні */
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    max-width: 425px;
    min-width: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gsi-material-button,
.gsi-material-button:hover,
.gsi-material-button:active {
    text-decoration: none;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 10px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    align-items: center;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row-reverse; /* Вирівнюється справа */
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    gap: 5px;
    position: relative;
    width: auto; /* Іконка біля тексту */
    margin: 0 auto;
}

.gsi-material-button .gsi-material-button-contents {
    flex-grow: 1;
    font-weight: 500;
    overflow: hidden;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}